<!--
File: public/partials/manage.html
Description: Allows the users to manage all types of requests and the funds of
    the organizations they own.
-->
<div class="container">
  <uib-alert
      ng-if="MngCtrl.alert.isActive"
      type="{{MngCtrl.alert.type}}"
      close="MngCtrl.alert.isActive = false">
    {{MngCtrl.alert.msg}}
  </uib-alert>

  <h1>Manage</h1>
  <hr>
  <div
      ng-if="MainCtrl.user.isAdmin"
      ng-switch="MngCtrl.pendingUsers.length > 0">
    <h4>Account Creation Requests</h4>
    <div
        class="row vertical-align"
        ng-repeat="user in MngCtrl.pendingUsers"
        ng-switch-when="true">
      <div class="col-xs-8">
        <div class="row vertical-align">
          <div class="col-sm-2">
          <div>{{user.name}}</div>
          </div>

          <div class="col-sm-2 subtext indent">
          <div>{{user.username}}</div>
          </div>

          <div class="col-sm-4 subtext indent">
          <div>{{user.email}}</div>
          </div>
        </div>
      </div>

      <div class="col-xs-4 push-right">
        <div class="btn-toolbar">
          <button
              type="button"
              class="btn btn-link btn-sm"
              ng-click="MngCtrl.resolveUser($index, true)">
            <span>Approve</span>
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button
              type="button"
              class="btn btn-link btn-sm"
              ng-click="MngCtrl.resolveUser($index, false)">
            <span>Reject</span>
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>
    </div>

    <div ng-switch-when="false">
      <span class="subtext">No approvals pending</span>
    </div>
  </div>

  <hr>

  <div>
    <h4>Organization Budget Requests</h4>
  </div>

  <hr>

  <div>
    <h4>Funding Requests</h4>
  </div>

  <hr>

  <div>
    <h4>Your Organizations</h4>
  </div>





</div>