<!-- public/partials/record.html -->
<html ng-app="recordpage">


<div 
  class="container">

    <center><h1>Record a Purchase</h1></center>
    <br /> <br />
    <form 
        name="recordForm" class="col-md-8 col-md-offset-2" role="form" 
        ng-submit="RecCtrl.submitCreateRecordForm()">

      <div 
          class="form-group"
          ng-class="{valid:'has-success has-feedback',
          invalid:'has-error has-feedback',
          empty:''}[reim.validation.isValid]">
        <label>Are you making a reimbursement?</label>
          <select class="form-control" name="reim" ng-model= "reim.value" 
                  ng-click="reim.validate()" required>
          <option value="">---Please select---</option> <!-- not selected / blank option -->
          <option value="r1">Yes</option> 
          <option value="r2">No</option>
        </select>
        <span
            ng-if="reim.validation.isValid == 'invalid'"
            class="help-block">
          {{reim.validation.helpBlock}}
        </span>
      </div><br />

      <div 
          class="form-group"
          ng-class="{valid:'has-success has-feedback',
          invalid:'has-error has-feedback',
          empty:''}[type.validation.isValid]">
        <label>Is this an expense or renvenue?</label>
        <select 
            class="form-control" name="type" ng-model= "type.value" 
            ng-click="type.validate()" required>
          <option value="">---Please select---</option> <!-- not selected / blank option -->
          <option value="expense">Expense</option>
          <option value="revenue">Revenue</option>
        </select>
        <span
        ng-if="type.validation.isValid == 'invalid'"
        class="help-block">
        {{type.validation.helpBlock}}
        </span>
      </div><br />

      <div class="form-group"
      ng-class="{valid:'has-success has-feedback',
      invalid:'has-error has-feedback',
      empty:''}[org.validation.isValid]">
        <label>Orgnization Name?</label>
        <select class="form-control" name="org" ng-model= "org.value" 
                ng-click="org.validate()" required ng-change="filterReq()">
          <option value="">-Please select-</option> 
          <option ng-repeat="org in orgs" value = "{{org._id}}">{{org.name}}</option>
        </select>
        <span
            ng-if="org.validation.isValid == 'invalid'"
            class="help-block">
          {{org.validation.helpBlock}}
        </span>
      </div><br />
<!-- 

      <input
          name="org"
          id="inputParent"
          type="text"
          class="form-control"
          autocomplete="off"
          ng-model="org.value"
          uib-typeahead="name for name in typeaheadOptions | search:$viewValue | limitTo:8"
          required> -->


      <div class="form-group">
        <label>Request</label>
        <select class="form-control" name="requests" id="requests" ng-model= "requests.value" >
          <option value="">---Please select the request you submitted---</option> <!-- not selected / blank option -->
          <option ng-repeat="option in reqdata.availableOptions" value="{{option._id}}">
          {{option.created.slice(5,10)}} {{option.description}} : {{option.specification[0].name}} 
          ${{option.specification[0].price}}</option>
        </select>
      </div><br />



      <div 
          class="form-group"
          ng-class="{valid:'has-success has-feedback',
          invalid:'has-error has-feedback',
          empty:''}[pcard.validation.isValid]">
        <label>Which P-Card did you use?</label>
        <select 
            class="form-control" name="pcard" ng-model="pcard.value" 
            ng-click="pcard.validate()" required>
          <option value="">---Please select---</option> <!-- not selected / blank option -->
          <option value="p1">1</option> 
          <option value="p2">2</option>
          <option value="p3">I don't remember.</option>  
        </select>
        <span
            ng-if="pcard.validation.isValid == 'invalid'"
            class="help-block">
          {{pcard.validation.helpBlock}}
        </span>
      </div><br />

      <label >Purchase Date</label><br /> 
      <div 
          class="form-group input-group" 
          ng-class="{valid:'has-success has-feedback',
          invalid:'has-error has-feedback',
          empty:''}[date.validation.isValid]">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" name="date" ng-model="date.value" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
      <span
        ng-if="date.validation.isValid == 'invalid'"
        class="col-md-8 col-md-offset-4 help-block" layout="row" layout-align="start center">
        {{date.validation.helpBlock}}
      </span>
      </div><br />



    <div class = "row">
      <label class="col-md-4">Specification</label>
    </div>

   
        <div  class = "form-group row" ng-repeat="item in items">
           <div 
            class = "specification" 
            ng-class="{valid:'has-success has-feedback',
                    invalid:'has-error has-feedback',
                    empty:''}[item.validation.isValid]">
                <div class="col-md-4" >
                  <div class="input-group">
                        <span class="input-group-addon">Details</span>
                        <input name = "itemName" type="text" class="form-control"  ng-model = item.name ng-blur="validateItem (item.index)" required/>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="input-group">
                    <span class="input-group-addon">Price</span>
                    <input name = "itemPrice" type="number" class="form-control" ng-model = item.price ng-blur="validateItem (item.index)" required ng-change="updatePrice()">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="input-group">

                    <select name = "itemCategory" class="form-control" ng-focus="validateItem(item.index)" ng-blur="validateItem (item.index)" ng-click="validateItem (item.index)" ng-model= item.category required>
                      <option value="">Category</option>
                      <option value="Food">Food</option>
                      <option value="Equipment">Equipment</option>
                      <option value="Stationary">Stationary</option>
                      <option value="Dangerous Stuff">Dangerous Stuff</option>
                    </select>
                  </div>
                </div>
                <div class = "col-md-1 vcenter">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="delItem(item.index)"></span>
                </div>
                <span
                    ng-if="item.validation.isValid == 'invalid'"
                    class="col-md-8 col-md-offset-4 help-block">
                  {{item.validation.nameHelpBlock}}
                  {{item.validation.priceHelpBlock}}
                  {{item.validation.categoryHelpBlock}}
                </span>
          </div>
        </div>

         
        <div class="btn-toolbar">
          <button type="button" class='btn btn-default' ng-click="addItem()">Add Item</button>
          <div align="right"><label>Total Amount:</label> {{totalamount}}</div><br /> 
          <!-- <button type="button" class='btn btn-default' ng-click="delItem()">Delete Item</button>  -->
        </div><br /><br />
      
      
        <div 
            class="form-group"
            ng-class="{valid:'has-success has-feedback',
            invalid:'has-error has-feedback',
            empty:''}[sac.validation.isValid]">
          <label>Was this purchase for SAC?</label>
          <select class="form-control" name="sac" ng-model="sac.value" 
                  ng-click="sac.validate()" required>
            <option value="">---Please select---</option> <!-- not selected / blank option -->
            <option value="sac1">Yes</option> 
            <option value="sac2">No</option>
          </select>
          <span
          ng-if="sac.validation.isValid == 'invalid'"
          class="help-block">
          {{sac.validation.helpBlock}}
          </span>
        </div><br />


        <div class = "row">
          <button type="submit" class='btn btn-success btn-lg btn-block' >Submit</button> 
        </div>
  </form>

</div>
</html>