
<!-- public/partials/request.html -->



<div class=".container-fluid">
  <form class="col-md-6 col-md-offset-3" ng-submit="processForm()">    
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">Organization</span>
        <div class="btn-group" uib-dropdown >
          <button id="single-button" type="button" class="btn btn-pull" uib-dropdown-toggle >
            Select <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li ><a href="#" ng-model = "organization">SAO</a></li>
            <li ><a href="#" ng-model = "organization">SERV</a></li>
            <li ><a href="#" ng-model = "organization">SG</a></li>
          </ul>
        </div>  
      </div>
    </div>

    <div class="row">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Description</span>
        <input type="text" class="form-control" placeholder="< 100 words" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Notification email" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">@example.com</span>
      </div>
    </div>    

    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" placeholder="< 200 $" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-addon">.00</span>
      </div>
    </div>

  <!-- 
    <label for="basic-url">Your vanity URL</label>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
   -->


    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="onlineCheck">
          If Online
        </label>
      </div>
    </div>
    
    <div class = "onlineSpecification" ng-show = "onlineCheck"> 
      
      <div class="row">
        <button type="button" class='btn btn-default' ng-click="addLink()">Add Item</button>
        <button type="button" class='btn btn-default' ng-click="delLink()">Delete Item</button> 
      </div>

      <div ng-repeat="link in links">
        <div class = "row" >
          <div class="col-md-6" >
            <div class="input-group">
                  <span class="input-group-addon">Link</span>
                  <input type="text" class="form-control" >
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">Description</span>
              <input type="number" class="form-control" >
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="spcificationCheck">
          Specification
        </label>
      </div>
    </div>

    <div class = "specification" ng-show = "spcificationCheck" >
      <div class="row">
        <button type="button" class='btn btn-default' ng-click="addItem()">Add Item</button>
        <button type="button" class='btn btn-default' ng-click="delItem()">Delete Item</button> 
      </div>

      <div  ng-repeat="item in items">
          <div class="row">
              <div class="col-md-5" >
                <div class="input-group">
                      <span class="input-group-addon">Item</span>
                      <input type="text" class="form-control" >
                </div>
              </div>

              <div class="col-md-5">
                <div class="input-group">
                  <span class="input-group-addon">Price</span>
                  <input type="text" class="form-control" >
                </div>
              </div>

              <div class="col-md-2">
                <div class="input-group">

                  <div class="btn-group" uib-dropdown>
                    <button id="btn-append-to-single-button" type="button" class="btn btn-secondary" uib-dropdown-toggle>
                      Category <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                      <li role="menuitem"><a href="#">Food</a></li>
                      <li role="menuitem"><a href="#">Equipment</a></li>
                      <li role="menuitem"><a href="#">Stationary</a></li>
                      <li role="menuitem"><a href="#">Dangerous Stuff</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
      </div>      
    </div>

    <div class = "row">
      <button type="submit" class='btn btn-success btn-lg btn-block' >Sumit</button> 
    </div>
    
  </form>
</div>