<!-- public/views/search.html -->
<div class="container-card">

<form 
        name="searchForm" role="form" 
        ng-submit="submitSearch()">

  <div class="col-md-2">
    <select class="form-control" name="type" ng-model= "type.value" required>
        <option value="">Type</option> <!-- not selected / blank option -->
        <option value="request">Request</option>
        <option value="record">Record</option>
    </select>
  </div>

  <div class="col-md-2">
    <select class="form-control" name="org" ng-model= "org.value" required>
      <option value="">Org</option> 
      <option ng-repeat="org in orgs" value = "{{org._id}}">{{org.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Search</button> <small>Click the form header to sort.</small>
</form>
  <hr>

<div ng-hide="req">
<table st-table="displayed" class="table table-striped" st-safe-src="rowCollection">
  <thead>
  <tr>
    <th st-sort="created">Date</th>
    <th st-sort="description">Specification</th>
    <th>Description</th>
    <th st-sort="value">Price</th>
    <th st-sort="isApproved">Is Approved</th>
    <th st-sort="inApproved">In Approved</th>
  </tr>
  <tr>
    <th colspan="1">
    <input st-search="" placeholder="global search" class="input-sm form-control" type="search"/>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in displayed">
    <td>{{row.created.slice(0,10)}}</td>
    <td>{{row.description}}</td>
    <td>{{row.specification[0].name}}</td>
    <td>{{row.value}}</td>
    <td>{{row.isApproved}}</td>
    <td>{{row.inApproved}}</td>
  </tr>
  </tbody>
</table>
</div>


<div ng-hide="rec">
<table st-table="displayed" class="table table-striped" st-safe-src="rowCollection">
  <thead>
  <tr>
    <th st-sort="occured">Date</th>
    <th st-sort="details">Detail</th>
    <th st-sort="value">Price</th>
    <th st-sort="void">Is void</th>
    <th st-sort="voider">Voider</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in rowCollection">
    <td>{{row.occurred}}</td>
    <td>{{row.details}}</td>
    <td>{{row.value}}</td>
    <td>{{row.void}}</td>
    <td>{{row.voider}}</td>
  </tr>
  </tbody>
</table>
</div>



</div>